<app-navbar></app-navbar>

<div class="wrapper">
  <div class="wire-frame">
    <div class="top-line">
      <h1>Signup</h1>
    </div>

    <div class="content">
      <div class="input-line top">
        <app-input-wrapper
          type="text"
          placeholder="Name"
          [(ngModel)]="username"
        ></app-input-wrapper>
      </div>
      <div class="input-line middle">
        <app-input-wrapper
          placeholder="Password"
          type="password"
          [(ngModel)]="password"
        ></app-input-wrapper>
      </div>
      <div class="input-line">
        <app-input-wrapper
          placeholder="Confirm Password"
          type="password"
          [(ngModel)]="confirmPassword"
        ></app-input-wrapper>
      </div>
      <div class="input-line bottom">
        <app-select-input class="gender" label="Gender" [(ngModel)]="gender">
          <option value="male">Male</option>
          <option value="female">Female</option>
        </app-select-input>
        <app-select-input class="age" label="Age" [(ngModel)]="age">
          <option [value]="i" *ngFor="let i of _validAges">{{i}}</option>
        </app-select-input>
      </div>
    </div>

    <div class="submit-line">
      <button (click)="signup()">Done</button>
    </div>
  </div>
</div>
