.wrapper {
  display: flex;
  justify-content: center;
  align-items: center;

  width: 100%;
  min-height: 1000px;
  min-height: 1vh;

  padding-bottom: 100px;

  .wire-frame {
    display: flex;
    flex-flow: column nowrap;
    justify-content: space-between;

    align-items: stretch;
    width: 640px;
    padding-top: 60px;
    padding-bottom 80px;

    background: white;

    .top-line, .input-line, .submit-line {
      display: flex;
      justify-content: center;
    }

    .top-line {
      h1 {
        font-family: Arial, Helvetica, sans-serif;
      }
    }

    .content {
      display: flex;
      flex-flow: column nowrap;

      .input-line {
        align-self: center;
        width: 450px;

        app-input-wrapper {
          width: 100%;
        }

        &.top {
          margin-top: 40px;
        }

        &.middle {
          margin-bottom: 40px;
        }

        &.bottom {
          display: flex;
          flex-flow: row nowrap;
          justify-content: space-between;

          width: 450px;
          margin-bottom: 40px;

          .gender {
            flex: 1 1 auto;
            margin-right: 30px;
          }

          .age {
            flex: 1 1 auto;
          }
        }
      }
    }

    .submit-line {
      button {
        display: flex;
        justify-content: center;
        align-items: center;

        border: none;
        outline: none;

        width: 210px;
        height: 60px;

        font-family: Arial, Helvetica, sans-serif;
        font-size: 24px;
        color: white;

        background: #f16522;

        cursor: pointer;
      }
    }
  }
}
