@import '../../styles.styl';

.wrapper {
  position: absolute;

  top: 0;
  left: 0;
  right: 0;
  bottom: 0;

  padding-top: $(50px);

  animation-duration: 1s;
  animation-iteration-count: 1;

  z-index: 1;

  .dashboard {
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;

    width: 100%;
    height: 100%;

    z-index: 1;

    .back-action {
      position: absolute;

      top: $(120px);
      left: $(40px);

      font-family: Material Icons;
      font-size: $(24px);

      color: white;

      cursor: pointer;
    }

    .background {
      position: absolute;

      top: 0;
      right: 0;
      left: 0;
      bottom: 0;
    }

    .current-movie {
      display: flex;
      flex-flow: row nowrap;

      width: $(802px);
      height: $(392px);

      z-index: 2;

      .poster {
        background-size: cover !important;

        width: $(260px);
      }

      .about {
        display: flex;
        flex-flow: column nowrap;
        align-items: center;
        justify-content center;

        flex: 1 1 auto;

        h1 {
          font-family: Lato;
          font-size: $(48px);
          font-weight: bold;

          color: white;

          mix-blend-mode: difference;

          text-align: center;
        }

        span {
          font-family: Material Icons;
          font-size: $(24px);

          color: yellow;
        }
      }
    }
  }

  .related-movies {
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    align-items: center;

    width: 100%;
    height: 100%;

    background: white;

    .movie {
      display: flex;
      flex-flow: row nowrap;

      width: $(307.08px);
      height: $(206px);

      margin: 0 $(29px);

      background: #ebebeb;

      cursor: pointer;
      transition-duration: 0.4s;

      &:hover {
        transform: scale(1.3);
      }

      .poster {
        flex: 0 0 auto;

        width: $(136px);
        height: 100%;

        background: black;
      }

      .about-movie {
        display: flex;

        flex: 1 1 auto;

        justify-content: center;
        align-items: center;

        height: 100%;

        h2 {
          font-family: Lato;
          font-size: $(18.75px);
          color: (white - #303030);

          mix-blend-mode: difference;
          text-align: center;
        }
      }
    }
  }
}
