<app-navbar></app-navbar>

<div class="wrapper">
  <div class="dashboard">
    <div class="back-action" (click)="navigateBack()">keyboard_backspace</div>

    <div class="content" *ngIf="movie">
      <h2>{{movie?.title}}</h2>

      <p *ngFor="let p of movie?.content?.split('\n')">
      </p>
    </div>

    <div class="fake-content" *ngIf="!movie">
      <span class="header"><h2>&nbsp;</h2></span>

      <span *ngFor="let p of [1, 2, 3, 4, 5]" class="paragraph">
      </span>
    </div>

    <div class="movies">
      <div
        *ngFor="let movie of movies; let i = index"
        class="movie"
        (click)="navigateToMovie(i)"
      >
      </div>
    </div>
  </div>

  <app-side-info></app-side-info>
</div>
