/* You can add global styles to this file, and also import other style files */

@font-face {
  font-family: Lato;
  src: "./assets/Lato";
}

@font-face {
  font-family: "Lato Heavy";
  src: "./assets/Lato-Heavy";
}

@font-face {
  font-family: "Lato-Light";
  src: "./assets/Lato-Light";
}

@font-face {
  font-family: "Lato-Medium";
  src: "./assets/Lato-Medium";
}

@font-face {
  font-family: "Lato-Thin";
  src: "./assets/Lato-Thin";
}

@font-face {
  font-family: "Lato-Semibold";
  src: "./assets/Lato-Semibold";
}

@font-face {
  font-family: "Material Icons";
  src: "./assets/MaterialIcons-Regular";
}


html, body, app-root {
  display: block;

  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;

  padding: 0px;
  margin: 0px;
}

* {
  box-sizing: border-box;
}
