<app-navbar></app-navbar>

<div class="wrapper">
  <div class="blur-background" [ngStyle]="{'background': 'url(' + movies[0].image_url + ')'}"></div>

  <div class="search" [class.focus]="_searchFocus">
    <input type="Search" class="search-input"
      #searchInput
      placeholder="Search"
      [(ngModel)]="searchString"
      (blur)="searchBlur()"
      (focus)="searchFocus()"
      (keyup)="onSearchInput($event.target.value)"
      (keydown.enter)="search($event.target.value)"
    />
    <div class="submit">search</div>
    <div class="suggestions">
      <div
        *ngFor="let suggest of suggestions" class="suggest"
        (click)="navigateToMovie(suggest.id)"
      >
        <span>{{getMovieName(suggest)}}</span>
      </div>
    </div>
  </div>

  <div class="movies">
    <!-- We will include the link inside block content. No need to wrap it inside an anchor again! -->
    <div
      class="movie"
      *ngFor="let movie of movies"
      (click)="navigateToMovie(movie.id)"
    >
      <div class="background">
      </div>

      <div class="image-wrapper">
        <img class="poster" [src]="movie.image_url">
      </div>

      <div class="movie-content">
        <h2>{{getMovieName(movie)}}</h2>
      </div>
    </div>
  </div>
</div>
