@import '../../styles.styl';

.wrapper {
  position: absolute;

  top: 0;
  right: 0;
  left: 0;
  bottom: 0;

  padding-top: 50px;

  background: #606060;

  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  justify-content: flex-start;

  z-index: 1;

  overflow-y: scroll;

  @keyframes fade-in {
    from {
      filter: blur(20px) brightness(120%);
      background-size: cover;
      background-position: center;
    }

    to {
      filter: blur(70px) brightness(120%);
      background-size: cover;
      background-position: center;
    }
  }

  .blur-background {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;

    background-position: center;
    background-size: cover;
    filter: blur(70px) brightness(120%);

    animation-name: fade-in;
    animation-duration: 2s;
    animation-fill-mode: backwards;
    animation-duration: 0.5s;

    opacity: 0.2;
  }

  .search {
    position: relative;

    display: flex;
    align-items: stretch;
    height: $(40px);
    width: $(1000px);

    margin-top: $(54px);
    margin-bottom: 12px;

    background: white;

    transition: margin-bottom 0.5s;

    z-index: 5;

    .suggestions {
      display: none;
    }

    &.focus {
      margin-bottom: 160px;

      .suggestions {
        position: absolute;
        top: 100%;
        height: max-content;
        width: 100%;

        display: block;

        background: white;

        cursor: pointer;

        .suggest {
          display: flex;
          align-items: center;

          height: $(40px);
          width: 100%;

          padding: 0 $(32px);

          font-family: Lato;
          font-size: $(18.75px);

          &:hover {
            background: alpha(blue, 0.1);
          }
        }
      }
    }

    .search-input {
      display: flex;
      align-items: center;
      flex: 1 1 auto;

      padding: 0 $(32px);

      border: none;
      outline: none;

      box-shadow: none;

      font-family: Lato;
      font-size: $(18.75px);
    }

    .submit {
      display: flex;
      align-items: center;

      padding: 0 $(32px);

      font-family: Material Icons;
      font-size: $(20px);
      color: #303030;

      cursor: pointer;
    }
  }

  .movies {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    align-content: space-between;

    margin-top: $(54px);
    width: $(1000px);

    $width = $(136px);
    $height = $(206px);
    $scale-width = $width * 1.3;
    $scale-height = $height * 1.3;
    $padding-top = (-($scale-height - $height) / 2);
    $padding-left = (-($scale-width - $width) / 2);

    .movie {
      position: relative;

      margin: $(4.5px);

      width: $(323px);
      height: $height;

      cursor: pointer;

      .movie-content {
        position: absolute;

        display: flex;
        justify-content: center;
        align-items: center;

        top: 0;
        right: 0;
        bottom: 0;
        left: $width;

        h2 {
          font-family: Lato;
          font-size: $(18.75px);
          color: (white - #303030);

          mix-blend-mode: difference;
          text-align: center;
        }
      }

      @keyframes drop-in {
        0% {
          transform: translateY($(-100px));
          height: 0%;
          opacity: 0;
        }

        10% {
          opacity: 0.6;
        }

        100% {
          transform: translateY(0);
          height: 100%;
          opacity: 1;
        }
      }

      @keyframes drop-in-image {
        0% {
          transform: translate($(-180px), 0);
          opacity: 0;
        }

        10% {
          opacity: 0.8;
        }

        100% {
          transform: translate(0, 0);
          opacity: 1;
        }
      }

      @keyframes drop-in-text {
        0% {
          transform: translate(0, $(-180px));
          opacity: 0;
        }

        10% {
          opacity: 0.8;
        }

        100% {
          transform: translate(0, 0);
        }
      }

      for i in 1 2 3 4 5 6 {
        &:nth-child({i}) .background {
          position: absolute;

          display: flex;
          flex-flow: row nowrap;
          content: "";

          background: white;

          height: 100%;
          width: 100%;

          animation-name: drop-in;
          animation-duration: 1s;
          animation-fill-mode: backwards;
          animation-iteration-count: 1;
          animation-delay: i * 0.2s;
        }

        &:nth-child({i}) h2 {
          animation-name: drop-in-text;
          animation-duration: 1s;
          animation-fill-mode: backwards;
          animation-iteration-count: 1;
          animation-delay: i * 0.2s + 0.4s;
        }

        &:nth-child({i}) .image-wrapper {
          position: absolute;
          top: 0;
          left: 0;

          width: $width;
          height: $height;

          background: black;

          animation-name: drop-in-image;
          animation-duration: 1s;
          animation-fill-mode: backwards;
          animation-iteration-count: 0.8s;
          animation-delay: i * 0.2s + 1.4s;

          box-shadow: 0 15px 30px alpha(#303030, 20%);

          transition-property: top left height width;
          transition-duration: 0.6s;

          overflow: hidden;

          img {
            position: absolute;
            top: $padding-top;
            left: $padding-left;

            width: $scale-width;
            height: $scale-height;

            background-image:white;

            object-fit: cover;

            transition-duration: 0.6s;
          }
        }

        &:hover {
          .image-wrapper {
            top: $padding-top;
            left: $padding-left;
            width: $scale-width;
            height: $scale-height;

            z-index: 5;

            img {
              top: 0;
              left: 0;
            }
          }
        }
      }
    }
  }
}
